
body {
    background: rgb(195, 245, 179);
    margin: 0;
}

h1, h2 {
    font-family: 'Oswald';
}

* {
    box-sizing: border-box;
}


header, main {
    padding: 8px;
}

header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid rgb(17, 155, 4);
}

header img {
    height: 75px;
} 

h1 {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 70px;
    margin: 0 20px;
    flex-grow: 2;
}

h2 {
    font-family: 'IM Fell DW Pica SC', serif;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    font-family: 'IM Fell French Canon SC', serif;
    font-weight: 600;
}

input, fieldset, button {
    border: 1px solid rgb(17, 155, 4);
}

/* input[type=radio] {
    display: none;
} */
input[type=radio]:checked + label {
    border: 1px solid rgb(17, 155, 4);
    padding: 3px;
    border-radius: 5px;
}

button {
    margin: 20px 0;
    padding: 20px;
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 1.2em;
    font-weight: bolder;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    height: 65px;
    background: lightgrey;
    text-align: center;
    padding-top: 25px;
}

.hidden {
    display: none;
}

.text-prompt {
    display: block;
    margin: 10px 0;
}

.text-prompt label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: bolder;
}

.text-prompt input {
    display: block;
    padding: 5px;
    font-size: 1.1em;
}

#avatars {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#avatars label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px;
}

#avatars input, #avatars img {
    margin: 0 7px;
}


/* check what this is  */
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile * {
    margin-right: 5px;
}

.profile-stat-label {
    text-transform: uppercase; 
}

.avatar {
    height: 50px;
}