#quest-list {
    display: flex;
    flex-direction: column;
}

#quest-list {
    position: relative;
    background-image: url("../assets/map.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: calc(90vw * 642 / 900);
    margin: auto;
}

h2 {
    color: rgb(247, 232, 169);
    font-size: 50px;
    text-shadow: 0 0 3px rgb(75, 47, 22);
}

link {
    color: beige;
}